---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Abdon Morales" description="About Abdon Morales Work and Educational Background">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Abdon Morales at the University of Texas at Austin, August 2023"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a budding software engineer and operating system architect, currently enriching my skills as an intern. 
						My journey in technology is underpinned by a strong academic foundation - I am pursuing a Bachelor of Science in Economics at the University of Texas at Austin, with an anticipated graduation in May 2027.

						My expertise is a blend of advanced technical skills and practical experience. I am proficient in Git, C++, C, Python, and Linux, with intermediate abilities in shell scripting, AI, and ChatGPT. 
						Additionally, I am a native Spanish speaker, fluent in the dialects of both Mexico and Spain. My journey in learning continues as I delve into Swift, NASM, Go, and Java.

						Academically, I have successfully completed courses like M 305G and ECO 304K, which have broadened my analytical and economic understanding. 
						Outside the classroom, I am actively involved in software development, with numerous projects showcased on my GitHub profile.
						My leadership qualities have been honed through roles such as team leader and CEO of my own startup.

						Beyond my professional life, I am passionate about soccer, video gaming, and programming for fun. These hobbies not only provide a creative outlet but also keep me grounded and connected to my community.

						My aspiration is to inspire change within my community, emphasizing that education is a key catalyst for progress. 
						I believe in seizing opportunities and making the most of our interconnected world. 
						With a commitment to continuous learning and development, I aim to contribute significantly to the field of software engineering and beyond.
					</p>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>Studying at the University of Texas at Austin</b></p>
					<p><b><i>Economics Bachelor of Science</i></b></p>
					<p><i>Expected Graduation Date: May 2027</i></p>
					<p><b>IDEA Montopolis College Prep</b></p>
					<p><b><i>Distinguished High School Diploma Candidate</i></b></p>
					<p>August 2019 &nbsp; &ndash; &nbsp; May 2023</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Intermediate Python, Intermediate shell scripting (Bash), Intermediate git, Basic C and C++, Basic R, Intermediate BASIC, and Advanced Mac and Linux usage.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Community Involvement</h2>
				<div class="content">
					<div>
						<p><b>ACM (Association of Computing Machinery)</b><p>
						<i>Student Member</i>
						<p>September 2023 &nbsp; &ndash; &nbsp; Present</p>
						</p>Austin, Texas</p>
					</div>
					<div>
						<p><b>IDEA Montopolis College Prep Food Can Drive</b><p>
						<i>Volunteer</i>
						<p>September 2020</p>
						</p>Austin, Texas</p>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
