---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Abdon Morales" description="About Abdon Morales Work and Educational Background">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Abdon Morales at the University of Texas at Austin, August 2023"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Placeholder for background (text)
					</p>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>Studying at the University of Texas at Austin</b></p>
					<p><b><i>Economics Bachelor of Science</i></b></p>
					<p><i>Expected Graduation Date: May 2027</i></p>
					<p><b>IDEA Montopolis College Prep</b></p>
					<p><b><i>Distinguished High School Diploma Candidate</i></b></p>
					<p>August 2019 &nbsp; &ndash; &nbsp; May 2023</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Intermediate Python, Intermediate shell scripting (Bash), Intermediate git, Basic C and C++, Basic R, Intermediate BASIC, and Advanced Mac and Linux usage.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Community Involvement</h2>
				<div class="content">
					<div>
						<p><b>ACM (Association of Computing Machinery)</b><p>
						<i>Student Member</i>
						<p>September 2023 &nbsp; &ndash; &nbsp; Present</p>
						</p>Austin, Texas</p>
					</div>
					<div>
						<p><b>IDEA Montopolis College Prep Food Can Drive</b><p>
						<i>Volunteer</i>
						<p>September 2020</p>
						</p>Austin, Texas</p>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
